
@if(Ticket != null)
{
    <tr>
        <td>
            <NavLink href="@($"/tickets/{Ticket.TicketId}")">
                @Ticket.Title

            </NavLink>
            
        </td>
        <td>@Ticket.Owner</td>
        <td>@Ticket.ReportDate</td>
        <td>@Ticket.DueDate</td>
    </tr>

}

@code {

    [Parameter]
    public Ticket Ticket { get; set; }

}
